@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Open+Sans&display=swap');


:root{
    --color-neutral-0: #e6e6e6;
    --color-neutral-10: #2e2e2e;
    --color-neutral-30: #78665D;
    --color-neutral-40: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: #78665D;
    text-decoration: none;
}

.qmpedro{
    color:#e6e6e6
}

body{
    color:#78665D;
    position: relative;
    flex-grow: 1;
    background-image: url('./img/figueirafolha\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    border: 7px solid #78665D;
}

input[type=checkbox]{
    display: none;
   } 

.btn-mobile{
    display:none;
}

.bibi-list {
    display: block;
    font-size: 24px;
    user-select: none;
   }

th, caption{
    padding: 8px;
    font-size: 35px;
    font-weight: bold;
    background-color: #78665d6b;
    color:#e6e6e6;
    border: 3px solid #78665D;
}

tr{
    background-color: #2e2e2e;
}

td{
    border: 3px solid #78665D;
    padding: 8px;
    font-size: 30px;
    color: #e6e6e6;
}

main{
    margin-left: 150px;
    margin-top: 50px;
    margin-right: 50px;
    flex-grow: 1;
}

footer{
    width: 100%;
    color: var(--color-neutral-30);
    margin-top: 80px;  
}

.label-menu,
.checkbox{
            display: block;
}

nav.menu-h{
    width: 80px;
    height: 100%;
    background-color: rgb(37, 37, 37);
    padding: 40px 0px 40px 1%;
    box-shadow: 10px 0 0 #78665D;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .4s;
}

nav.menu-h:hover{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #e6e6e6;
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu:hover{
    background-color: #78665D;

}

ul li.item-menu{
    transition: .5s;
}

ul li.item-menu a{
    color: #e6e6e6;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display:flex;
    margin-bottom: 20px;
    line-height: 40px;
    font-weight: bold;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 5px;
}

#folhabranca{
    width: 30px;
    margin-left: 5px;
}

h1{
    margin-top: 40px;
    font-size: 80px;
}

h2{
    margin-top: 30px;
    font-size: 50px;
}

h4{
    margin-top: 20px;
    font-size: medium;
}

.formu{
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.campoform{
    border-radius: 8px;
    font-size: 25px;
    margin-top: 10px;
}

.campoform:focus{
    background-color: #ffffff9c;
}

#bodyobg{
    background-position-y: 150%;
}

#obg{
    text-align: center;
    height: 100vh;
    padding: 90px;
    margin-right: 90px;
    color: #1f1515;
}

#btnenviar{
    background-color: #2e2e2e;
    color: #e6e6e6;
    border-radius: 8px;
    font-size: 25px;
    padding: 10px;
    transition: .4s;
}

#btnenviar:hover{
    background-color: #78665D;
}

p{
    font-weight: bold;
    font-size: large;
}

.quemefigueira{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 50px;
}

#titleqmefigueira{
    color: #e6e6e6;
}

.qm {
    color: #e6e6e6;
}

#fotofigueira{
    width: 600px;
    padding: 40px;
}

.pedro{
    text-align: right;
}

.davi{
    text-align: left;
}


#footer_content{
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:  1rem 1rem;
    margin-left: 60px;
}


#footer_social_media {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 80px;
}

#footer_social_media .footer-link{
    font-size: 40px;
    color: var(--color-neutral-30);
    padding: 30px;    
}

.footer-list .footer-link{
    color: var(--color-neutral-0);
    transition: .4s;
    
}

.footer-link{
    display: inline;
    grid-template-columns: repeat(4 2fr);
    padding: 1rem 1rem;
    
}

.footer-list .footer-link:hover{
    color:#78665D;
}

 
#plataformas{
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
    
}

#footer-copyright{
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #78665D;
    color:#e6e6e6;
}

#folhaetxtfooter{
    width: 70px;
}

.footer-list li{
    display: inline;
    padding:20px;
    margin-left: 20px;
    margin-top: 20px;
}

#plataformas{
    padding: 10px;
}

#capa{
    width: 100%;
    border: #78665D solid 2px;
    margin-top: 20px;
    margin-right: 20px;
}

.folhaefigueira{
    text-align: center;
    margin-top: 10px;
}

#somos{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color:#e6e6e6;
}

#ouca{
    padding: 30px;
    padding-right: 30px;
    margin-right: 60px;
}

#botaoroll{
    width: 50px;
    align-items: center;
    margin-left: 96.9%;
    margin-top: 47%;
    display: flex;
    position: fixed;
    animation: jumping 1s linear infinite;
    cursor: pointer;
}

@keyframes jumping {
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-15px);}
}

#txtclipe{
    padding: 30px;
    font-size: 30px;
}

#nossasmusicas{
    padding: 30px;
    color: #e6e6e6;
}

#apoie{
    margin-left: 15%;
    margin-top: 20px;
    color: #e6e6e6;
    font-weight: bolder;

}

#fundoloja{
    background-image: url('./img/fgr_11.png');
    background-size: cover;
    color: #ffffffb7;
}

#fundomusic{
    background-image: url('./img/FGR_phot.png');
    background-size: cover;
}

background-image{
    opacity: 0.2;
}

#txtclipe{
    color: #e6e6e6;
    margin-bottom: 20px;
}

@media (max-width: 1440px){
    footer{
        width: 100%;
    color: var(--color-neutral-30);
    margin-top: 80px;  
    }

    #footer_social_media .footer-link{
        font-size: 40px;
        color: var(--color-neutral-30);
        padding: 20px;    
    }

    .footer-list li{
        display: inline;
        padding: 2px;
        margin-left: 2px;
        margin-top: 2px;
    }

    #botaoroll{
        width: 50px;
        align-items: center;
        margin-left: 94.9%;
        margin-top: 47%;
        display: flex;
        position: fixed;
        animation: jumping 1s linear infinite;
        cursor: pointer;
    }

    h1{
        margin-top: 30px;
        font-size: 60px;
    }

    h2{
        margin-top: 30px;
        font-size: 35px;
    }

    p{
        font-weight: bold;
        font-size: 12px;
    }

    h4{
        
            margin-top: 20px;
            font-size: 19px;
    }

    #fotofigueira{
        width: 450px;
    }

    th, caption{
        padding: 8px;
        font-size: 23px;
        font-weight: bold;
        background-color: #78665d6b;
        color:#e6e6e6;
        border: 3px solid #78665D;
    }

    td{
        border: 3px solid #78665D;
        padding: 8px;
        font-size: 20px;
        color: #e6e6e6;
    }

    .formu{
        margin-top: 20px;
        font-weight: bold;
        font-size: 22px;
    }
    
    .campoform{
        border-radius: 8px;
        font-size: 22px;
        margin-top: 10px;
    }

    #bodyobg{
        background-position: absolute;
    }
    
    #obg{
        text-align: center;
        height: 100vh;
        padding: 90px;
        margin-right: 90px;
        color: #1f1515;
    }

    body{
        color:#78665D;
        flex-grow: 1;
        background-image: url('./img/figueirafolha\ \(1\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #bodyobg {
        background-position-y: -260px;
    }

    #mainobg {
        height: 100vh;
    }

    #bodyqm {
        background-position-y: -260px;
    }

    #fundomusic {
        background-position-y: -190px;
    }

    #folhaetxtfooter{
        width:30%;
        height: 30%;
    }

    .menumobile{
        display:none;
    }

}

@media (max-width: 768px){


    footer{
        width: 100%;
        color: var(--color-neutral-30);  
        display: grid;
        grid-template-rows: 1fr;
    }

    #footer_social_media .footer-link{
        font-size: 20px;
        color: var(--color-neutral-30);
        padding: 4px;    
    }

    .footer-list li{
        display: inline;
        padding: 2px;
        margin-left: 2px;
        margin-top: 2px;
    }

    #botaoroll{
        width: 50px;
        align-items: center;
        margin-left: 89.9%;
        margin-top: 47%;
        display: flex;
        position: fixed;
        animation: jumping 1s linear infinite;
        cursor: pointer;
    }

    h1{
        margin-top: 20px;
        font-size: 50px;
    }

    h2{
        margin-top: 30px;
        font-size: 25px;
    }

    p{
        font-weight: bold;
        font-size: 15px;
    }

    h4{
        
            margin-top: 20px;
            font-size: 19px;
    }

    #fotofigueira{
        width: 500px;
    }

    th, caption{
        padding: 8px;
        font-size: 23px;
        font-weight: bold;
        background-color: #78665d6b;
        color:#e6e6e6;
        border: 3px solid #78665D;
    }

    td{
        border: 3px solid #78665D;
        padding: 8px;
        font-size: 20px;
        color: #e6e6e6;
    }

    .formu{
        margin-top: 20px;
        font-weight: bold;
        font-size: 22px;
    }
    
    .campoform{
        border-radius: 8px;
        font-size: 22px;
        margin-top: 10px;
    }

    #bodyobg{
        background-position: absolute;
    }
    
    #obg{
        text-align: center;
        height: 100vh;
        padding: 90px;
        margin-right: 90px;
        color: #1f1515;
    }

    body{
        color:#78665D;
        flex-grow: 1;
        background-image: url('./img/figueirafolha\ \(1\).png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    #bodyobg {
        background-position-y: -260px;
    }

    #mainobg {
        height: 100vh;
    }

    #bodyqm {
        background-position-y: -260px;
        background-repeat: repeat;
    }

    #fundomusic {
        background-position-y: -190px;
    }

    #apoie{
        color: #e6e6e6;
        font-weight: bolder;
        font-size: 16px;
        margin-left: 50px;
    }

    #folhaetxtfooter{
        width: 70px;
    }

    main .quemefigueira{
        display: block;
        
    }


    .footer-list li{
        display: block;
        margin-left: 20px;
        font-size: 16px;
    }

    #footer_content{
        background-color: var(--color-neutral-10);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 60px;
    }
    
    
    #footer_social_media {
        display: flex;
        gap: 0.5rem;
        margin-top: 3rem;
        margin-left: 40px;
    }
    
    #footer_social_media .footer-link{
        font-size: 25px;
        color: var(--color-neutral-30);
        padding: 10px;
    }

    #plataformas{
        font-size: 15px;
        margin-left: 40px;
        margin-top: px;   
    }

    #clipe{
        width: 500px;
        height: 240px;
    }

    body{
        color:#78665D;
        position: relative;
        flex-grow: 1;
        background-image: url('./img/figueirafolha\ \(1\).png');
        background-repeat: -norepeat;
        background-size: cover;
        background-position-x: -350px;
        background-position-y: -150px;
    }

    #fundoloja{
        background-position-x: -250px;
        background-position-y: 0px;
    }

    #ouca{
        color: #1f1515;
        font-weight: bolder;
        font-size: large;
    }
}

    @media (max-width: 600px){

        .menu-h{
            display: none;
        }

        html, body{
            width:100%;
            overflow-x: hidden;
            align-items: center;
            justify-content: center;        
        }

        main{
            width: 100vh;
            margin-left: 300px;
        }

        footer{
            width: 100vh;
        }

        h1 {
            font-size: 37px;
            text-align: center;
            margin-right: 250px;}
            
        h2{
            font-size: 23px;
            margin-left: 80px;
            margin-right: 200px;

        }
        h3{
            font-size: 15px;
            text-align: center;
        }
        h4{
            font-size: 14px;
            margin-left: 80px;
        }

        p{
            width: 330px;
            align-items: center;
            margin-left: 75px;
            text-align: center;
        }

        #fotofigueira{
            width: 400px;
            margin-left: 40px;
        }

        footer{
            width: 100vh;
            height: 100%;
        }

        #peicon{
            margin-right: 25px;
            font-size: 15px;
        }

        #apoie{
            font-size: 12px;
            margin-left: 150px;
        }

        #footer_contacts{
            display: flex-box;
            height: 150px;
        }

        .footer-list{
            display:none;
        }


        #footer-copyright{
            margin-left: -95px;
            font-size: 10px;
        }

        #footer_social_media{
            margin-left: 140px;
            font-size: 50;
        }

        #sigatxt{
            margin-left:-50px;
            font-size: 10px;
        }

        #fotoindex{
            width: 350px;
            margin-left: 70px;
        }

        #somos{
            font-size: 15px;
        }

        #ouca{
            color: #e6e6e6;
            font-size: 15px;
        }

        iframe{
            width: 300px;
            margin-left: 95px;
        }

        .folhaefigueira{
            margin-right: 250px;
        }

        #logomaior{
            width: 50px;
        }

        #logomaior2{
            width: 200px;
        }

        .btn-mobile{
            margin-right: 200px;
        }

        table{
            width: 60px;
            margin-left: 80px;
        }

        td, tr, th{
            font-size: 16px;
        }

        #logoagenda{
            margin-left: 100px;
        }

        #botaoroll{
            width: 50px;
            align-items: center;
            margin-left: 96.9%;
            margin-top: 47%;
            display: none;
            position: fixed;
            animation: jumping 1s linear infinite;
            cursor: pointer;
        }

        #txtclipe{
            font-size: 15px;
            margin-right: 250px;
        }

        #clipe{
            width: 300px;
        }

        #menumobile {
            display:none;
            background-color: #2e2e2e;
            width: 100vh;
            height:360px;
            padding-top: 10px;
            
        }

        .item-menu-mobile a{
            color: #e6e6e6;
            text-decoration: none;
            margin-top: 900px;
            margin: 10px;
            margin-left: 180px;
            width: 500px;
            display: block;
            padding: 10px;
            font-size: 20px;
            
            
        }

        #menumobile.active{
            display: block;
            position: absolute;
            left: -180px;
        }

        .btn-expandir{
            background-color: #2e2e2e;
            font-size: 30px;
        }

        #compromissos{
            font-size: 26px;
        }

         .breve {
            font-size: 25px;
            margin-top: 250px;
        }

        .formu{
            margin-left: 80px;
        }

        .campoform{
            font-size: 15px;
        }

        .qmpedro{
            margin-right: 350px;
        }

        .qm{
            margin-left: 150px;
        }

        #obg{
            margin-right: 250px;
            position:relative;
            padding-top: 300px;

        }
    }