@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url(./img/fundo-desfocado-marrom-abstrato_42299-534.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
#menu-h{
    list-style: none;
    padding: 0;
    background-color: #CBAAAA;
    
}

#menu-h li{
    display: inline;
}

#menu-h li a{
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;

}

#menu-h li a:hover {
    background-color: #411f1f;
}



